@page "/authentication/{action}"
@inject NavigationManager navigation
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
<RemoteAuthenticatorView Action="@Action">

    @*authentication/login*@

    <LoggingIn>Cargando...</LoggingIn>
    @*authentication/login-callback*@
    <CompletingLoggingIn>Haz iniciado correctamente.</CompletingLoggingIn>
    @*authentication/login-failed*@
    <LogInFailed>Fallo al inicar </LogInFailed>
    @*authentication/logout*@
    <LogOut><p>Cerrando...</p> </LogOut>
    @*authentication/logout-callback*@
    <CompletingLogOut>@Sesion cerrada </CompletingLogOut>
    @*authentication/logout-failed*@
    <LogOutFailed>Fallo el cierre</LogOutFailed>
    @*authentication/logged-out*@
    <LogOutSucceeded> Has cerrado correctamente. </LogOutSucceeded>
    @*authentication/profile*@
    <UserProfile>Autenticando...</UserProfile>
    @*authentication/register*@
    <Registering>Registrando...</Registering>


</RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }

    string Sesion = "Sesión";

}
