@page "/"

    <div class="row">
        <div>
        <img src="/Imagenes/sombrilla.png" width="50" height="50" />
        </div>
        <div>

        <h1>Gestión de vacaciones y permisos</h1>
        </div>
    </div>
   
    Bienvenido a su aplicación

