<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                <body>
                    <div align="center">
       
                        <h2>No esta autorizado</h2>

                        <div class="media-content">
                            @* <img src="~/Imagenes/Error.png"/>*@
                            <img src="/Imagenes/401.png" />
                        </div>
                    </div>
                </body>

                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Lo sentimos, no hay nada en esta dirección.</p>
</LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
