<EditForm Model="@Empleado" OnValidSubmit="OnDataAnnonationsValidated">
    <DataAnnotationsValidator />
    <div>

        <div>
            <label>Nombre</label>
            <input type="text" @bind-value="@Empleado.Nombre" placeholder="Nombre" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @BontoCrear
    </button>
</EditForm>

    @code {
        public string BontoCrear = "Crear";
        [Parameter] public List<Empleado> ListaEmpleados { get; set; }
        [Parameter] public Empleado Empleado { get; set; } = new Empleado();
        [Parameter] public EventCallback OnValidSubmit { get; set; }


        private async Task OnDataAnnonationsValidated()
        {

            await OnValidSubmit.InvokeAsync(null);

        }

    }
