<div class="row">

    <div class="col-11" align="center">
        <div class="lds-ripple mb-5">
            <div>
            </div>
            <div>

            </div>
        </div>

    </div>
    <div class="col-12" align="center">
        <div class="mt-5 ml-4">
            <small class="m-5">Cargando...</small>
        </div>
    </div>
</div>
