@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

    <h2>Gestionar su cuenta</h2>

    <div>
        <h4>Cambiar contraseña</h4>
        <a href="https://localhost:44391/">Volver al inicio</a>
        <hr />
        <div class="row">
            <div class="col-md-9">
                @RenderBody()
            </div>

        </div>
    </div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
